/* Adding and using custom and logical properties */

/* CSS variables should be named with alphanumeric characters, underscores, and dashes. Remember that they are case-sensitive. */

:root {
  --text-base: #333;
  --base-font-faimly: Halvetia, Ariel;
}

body {
color: var(--text-base);
}
